@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["lblWelcome"]</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form asp-controller="Home" asp-action="SetLanguage" method="post">
        <select name="culture" onchange="this.form.submit();">
            <option value="en-US">English</option>
            <option value="uk-UA">Українська</option>
        </select>
        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
    </form>
</div>
